{% extends "base.html.twig" %}

{% block body %}

{% for message in app.flashes('sucess') %}
<div class="alert alert-success text-center">{{ message }}</div>
   
{% endfor %}

<a href="{{path('admin_new_vehicule')}}" class="btn btn-success">Ajouter un vehicule</a><br><br>
<table class= "table table-bordred text-center">


<thead>
 <tr>
  {% for data in colonnes%} 
   
     <th>{{ data }}</th>
    
  {% endfor %}
  
  <th>Editer</th>
  <th>Supprimer</th>
 </tr>

</thead>
<tbody>
 {% for item in vehicules %}
   
     <tr>
     <td>{{item.id}}</td>
     <td>{{item.titre}}</td>
     <td>{{item.marque}}</td>
     <td>{{item.modele}}</td>
     <td>{{item.description}}</td>
     <td><img src="{{item.photo}}" style="width: 150px;"></td>
     <td>{{item.prix_journalier}}</td>
     <td>{{ item.date_enregistrement|date('d/m/Y à H:i:s') }}</td>
     <td>{{ item.category.title }}</td>
     <td><a href="" class ="text-dark"><i class ="fas fa-edit"></i></a></td>
     <td><a onclick="return confirm('voulez voussupprimer cet article?')" href="" class ="text-dark"><i class ="fas fa-trash"></i></a></td>
     
     
     </tr>
    
  {% endfor %}



</tbody>




</table>






{% endblock %}